body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 10px;
}

a, .hero p, .footer p{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: baseline;
    font-size: 18px;
    padding: 16px 250px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    padding: 100px 250px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.hero .content-left {
    padding-right: 50px;
}

.hero img {
    width: 400px;
    height: 200px;
    border: 2px solid #ffffff;
    flex-shrink: 0;
    background-color: #6B7280;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1f2937;
    padding: 50px 0;
}

.features h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
}

.features ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 0;
    text-align: center;
    max-width: 1000px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3B82F6;
    margin: 100px 200px;
    padding: 50px 80px;
    border-radius: 10px;
    gap: 20px;
}

.cta #cta-title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.cta #cta-text {
    font-size: 18px;
    color: #F9FAF8;
    margin: 0;
}


.features img {
    width: 150px;
    height: 150px;
    border-color: #3B82F6;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
}

.features p {
    font-size: 16px;
    color: #6B7280;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 50px 250px;
}

.quote #text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote #author {
    display: flex;
    justify-content: end;
    font-weight: 900;
    font-size: 24px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: 24px;
}


.cta-button {
    background-color: #3B82F6;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cta .cta-button{
    border: 2px solid #F9FAF8;
}

